// START
$cblue : #41B883;
$cgrey : #3E3A37;
$cwhite : #ffffff;
$ccream : #FAFBFC;
$cgrey_green: #435466;
$clightgrey : #DAD9D7;

$body_height_8: calc((100vh - 113px)/8);
$body_height_4: calc((100vh - 113px)/4);

.icon-arrow {
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 284.929 284.929'><path d='M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441		L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z'/></svg>");
}

i {
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $ccream;
  padding-top: 113px;
  overflow-x: hidden;

  &.display_menu {
    overflow-y: hidden;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.wrap {
  max-width: 1024px;
  min-width: 320px;
}

header {
  display: flex;
  z-index: 1;
  padding: 10px 0;
  background-color: $cwhite;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  transition: 0.33s;
}

header .wrap {
  padding: 0 2%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

header img {
  width: 100px;
}

header #menu {
  display: flex;
  flex-direction: row;
}

header #menu li {
  position: relative;
  user-select: none;
  margin-left: 20px;

  i {
    width: 12px;
    height: 12px;
    background-color: $cgrey;
  }

  a {
    color:#62c9a9;
    // color: $cgrey;
    cursor: pointer;
    font-size: 1.15em;
    border: none;
    border-bottom: 2px solid $cwhite;
    transition: 0.15s;
    background: none;

    &:hover {
      border-bottom-color: $cblue;
      color: $cblue;

      i {
        background-color: $cblue;
      }
    }
  }
}

header .drop_menu {
  position: absolute;
  display: block;
  top: 149%;
  transform: scaleY(0);
  width: auto;
  transform-origin: top;
  background-color: $cwhite;
  transition: 0.25s;
  padding-bottom: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);

  a {
    margin-left: 20px;
    display: block;
    transition: 0.45s;
    opacity: 0;
    margin-right: 20px;
    padding: 10px 0 0 0;
  }
}

header .drop_menu.display {
  transform: scaleY(1);

  a {
    opacity: 1;
  }
}

header #hamburger {
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  left: 3%;
  top: 30px;
  display: none;
  transform: translateY(-50%);
}

header #hamburger span {
  height: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: $cgrey;
  display: block;
  transition: 0.33s;

  &:nth-child(1) {
    width: 12px;
  }

  &:nth-child(2) {
    width: 24px;
  }

  &:nth-child(3) {
    width: 12px;
  }
}

.display_menu header #hamburger {
  span:nth-child(1) {
    transform: rotate(45deg) translate(2px, 1px);
  }

  span:nth-child(2) {
    transform: rotate(-45deg);
  }

  span:nth-child(3) {
    transform: rotate(45deg) translate(6px, -9px);
  }
}

#background {
  content: '';
  display: block;
  width: 100vw;
  height: 200vh;
  padding: 5%;
  background-color: $cblue;

  h3 {
    margin: 0;
    margin-bottom: 1%;
    font-size: 1.5em;
    text-align: center;
    color: $cwhite;

    i {
      width: 13px;
      height: 20px;
      background-color: $cwhite;
    }
  }

  button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1.3em;
    border: none;
    background-color: $cgrey_green;
    color: $cwhite;
  }
}

#loader {
  display: block;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  margin-left: -25px;
  margin-top: -25px;
  animation: spin 1s infinite linear;

  span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0px 0px 10px 10px;
    border-style: solid;
    border-color: transparent;

    &:nth-child(0) {
      border-left-color: $cblue;
    }

    &:nth-child(1) {
      transform: rotate(-40deg);
      border-left-color: $cblue;
    }

    &:nth-child(2) {
      transform: rotate(-80deg);
      border-left-color: $cblue;
    }

    &:nth-child(3) {
      transform: rotate(-130deg);
      border-left-color: $cgrey_green;
    }

    &:nth-child(4) {
      transform: rotate(-170deg);
      border-left-color: $cgrey_green;
    }

    &:nth-child(5) {
      transform: rotate(-210deg);
      border-left-color: $cgrey_green;
    }

    &:nth-child(6) {
      transform: rotate(-250deg);
      border-left-color: $cgrey;
    }

    &:nth-child(7) {
      transform: rotate(-280deg);
      border-left-color: $cgrey;
    }

    &:nth-child(8) {
      transform: rotate(-320deg);
      border-left-color: $cgrey;
    }

    &:nth-child(9) {
      transform: rotate(-360deg);
      border-left-color: $cblue;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

#overlay {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: $cgrey;
  opacity: 0.5;
}

@media screen and (max-width: 660px) {
  body {
    padding-top: 70px;
  }

  header .wrap {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }

  header img {
    width: 50px;
  }

  header #hamburger {
    display: block;
  }

  header #menu {
    width: 100%;
    display: block;
    height: 0;
    transform-origin: 50% 0;
    transition: 0.33s ease;
    flex-direction: column;
  }

  .display_menu header #menu {
    height: calc(100vh - 64px);

    li {
      height: $body_height_8;
      border-bottom: 1px solid $clightgrey;
      transition: 0.25s ease;
      opacity: 1;
      display: block;

      a {}
    }
  }

  header #menu li {
    height: 0;
    opacity: 0;
    margin-left: 0;
    transition: 0.25s ease;

    a {
      left: 0;
      line-height: $body_height_8;
      padding-left: 20px;
      border: none;
      height: 100%;
      width: 100%;
      display: block;

      &:hover {
        color: $cwhite;
        background-color: $cblue;

        i {
          background-color: $cwhite;
        }
      }
    }

    i {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $cgrey;
    }
  }

  header .drop_menu {
    top: $body_height_8;
    box-shadow: none;
    left: 0;
    padding-bottom: 0;
    width: 100%;

    a {
      width: 100%;
      padding: 0 !important;
      padding-left: 40px !important;
      margin: 0;
      border-bottom: 1px solid $clightgrey  !important;
    }
  }
}

@media screen and(max-width: 660px) and(max-height: 500px) {

  .display_menu header {
    max-height: 100vh;
    overflow-y: scroll;
  }

  .display_menu header #menu {
    li {
      height: $body_height_4;
    }
  }

  header #menu li {
    a {
      line-height: $body_height_4;
    }
  }

  header .drop_menu {
    top: $body_height_4;
  }
}

i {
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat;
}
// END
.footer{
    padding: 24px 0;
    // position: absolute;
    width: 100%;
    bottom: 0px;
    clear: both;
    // position: fixed;
    // height: 120px;
    box-shadow: 1px -1px 4px 0px #d4d4d4;
    color: #000 !important;
    background: #fff !important;
    // margin-top: 20px;

    &.footer-default{
        background-color: #f2f2f2;
    }

    nav{
        display: inline-block;
        float: left;
    }

    ul{
        margin-bottom: 0;
        padding: 0;
        list-style: none;

        li{
            display: inline-block;

            a{
                color: inherit;
                padding: $padding-base-vertical;
                font-size: $font-size-small;
                text-transform: uppercase;
                text-decoration: none;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }

    .copyright{
        font-size: $font-size-small;
    }

    &:after{
        display: table;
        clear: both;
        content: " ";
    }
}

.d-grid{
    display: grid;
}

#main-panel{
    margin-top: 50px;
    // margin-bottom: 100px;
}

.main{
    padding:20px;
    margin:20px;
    width: 100%;
    margin-bottom: 40px;
    margin-left:0px;
    background:aliceblue;
}

.terjual {
  float:right;
} 
.dilihat {
  float:right;
}

.rate {
  display: contents;
}

.nyala {
  color: #ff005e;
}

.detail-title {
    margin-top: 0px;
    font-size:2em;
    font-weight: 800;
    color: #5d5c5b;
    line-height: 1.2rem;
    margin-bottom:10px;
    display: inline-block;
}

// .separates {
//   border-bottom: 1px solid #ccc;
//   width: 100%;
//   margin-bottom: 10px;
// }

.ikon-style{
  // font-size: 18px;
  // margin-top: -10px;
  font-weight: 800;
  color: #cecece;
  // border: 1px solid;
  // border-radius: 20px;
  margin-left: -20px;
}

.nav-link{
 color: #62c9a9 !important;
}

.label {
  font-size: 1em;
  color: #ccc;
  width:150px;
}

.value {
  font-size: 1.5em;
  color:#5fc6a6;
}

.qty {
  border:none;
  border-bottom: 1px solid #ccc;
  width: 75px;
  text-align: center;
}

.qty-btn {
  padding: 2px 4px !important;
}

.label-harga {
  font-size: 1rem;
  line-height: 3.5em;
  font-weight: 600;
  color: #ccc;
}

.harga {
  font-size: 1.5rem;
  line-height: 2em;
  font-weight: 600;
  color: #62c9a9;
}


// .title-div {
//   border-bottom:1px solid #dadad9;
//   padding:10px;
// }

.main-detail {
    padding:20px;
    margin:20px;
    width: 100%;
    margin-bottom: 40px;
    margin-left:0px;
}

.kategori>.hooper>.hooper-list>.hooper-track>.hooper-slide {
    border: unset !important;
    padding:0px !important;
    border-radius: 10px;
    margin-left:10px;
}

.halaman-promo>.hooper>.hooper-list>.hooper-track>.hooper-slide {
    border: unset !important;
    padding:0px !important;
    border-radius: 10px;
    margin-left:10px;
}

@media screen and (max-width: 900px) and (min-width: 600px),
(min-width: 1100px) {
    body{
        background: #fff;
    }

    .info-transaksi{
      margin-top:25px;
    }
    .info-transaksi-title{
      border-bottom: 1px solid #cecece;
      margin-bottom: 10px;
    }
    .reportrange-text[data-v-2359713c]{
      height: 30px;
      text-align: inherit;
      line-height: 1.5;
    }

    .filter{
      margin-top: 10px;
    }
    .tipe-bayar{
      display: block;
      // margin-top: -10px;
      // margin-bottom: -10px;
    }
    .progress-container .progress-badge{
      text-transform: capitalize !important;
      font-size: 14px;
    }

    .progress-container+.progress-container,
    .progress-container~.progress-container{
      margin-top:0px !important;
    }

    .input-group-text.now-ui-icons.ui-1_zoom-bold {
      background: aliceblue;
      padding-left: 10px;
      cursor: pointer;
      border-radius: 10px !important;
      margin-left: -20px;
    }

    .form-control,
    .el-date-picker .el-input .el-input__inner,
    .form-group .el-input__inner{
      border-radius: 10px !important;
    }

    .btn,
    .navbar .navbar-nav>a.btn{
      border-radius: 10px !important;
    }

    .promo >.hooper{
        margin-top:160px;
        height:300px;
    }

    .kategori >.hooper{
        margin-top:10px;
        margin-bottom:10px;
    }

    .hooper-prev {
        background: #ffffff6b;
        border-radius: 100%;
    }

    .hooper-prev:hover {
        background: #fff;
    }

    .hooper-next {
        background: #ffffff6b;
        border-radius: 100%;
    }

    .hooper-next:hover {
        background: #fff;
    }

    .navbar {
        // margin-top:20px;
    }

    .nav-item {
        margin-top: 25px;
    }

    .search {
        width: 640px;
    }

    .sign-in {
        margin-top:0px;
    }

    .halaman-promo, .kategori {
        border-radius: 10px;
        // border:1px solid #62caaa;
    }

    .halaman-promo > .hooper > .hooper-list > ul > li {
        background: unset !important;
        height:400px !important;
    }

    .kategori {
        // margin-left:-30px;
        // margin-right: 10px;
        // flex: 2 0 55.666667% !important;
        // max-width: 58.666667% !important;
        // max-width: 78.666667% !important;
    }

    .lihat-semua{
      font-size: 14px;
    }

    .slide-promosi{
      border-radius:20px; 
    }

    .hooper-slide.is-active.is-current{
      Transform:scale(0.8);
    }

    .nav-link {
      color: #5f6061 !important;
      text-transform: capitalize !important;
      font-size: 14px !important;
    }

    .product-list {
        margin-bottom: 40px;
    }

    .halaman-promo {
        flex: 3 0 33.333333% !important;
        max-width: 22.333333% !important;
        padding:10px 0px;
    }

    .halaman-promo > .hooper {
        height:400px !important;
    }

    .promo > .hooper-slide.is-current {
        transform: scale(1.2);
    }

    .tentang {
        display: grid;
        // trans
    }

    .akun {
        margin-top:0px;
    }

    .menu-second {
        // background: #333;
    }

    .footer > ul > li {
        text-transform: capitalize;
    }

    .tentang > li > a:hover {
        color:#62caaa !important;
    }

    .input-group-text.now-ui-icons.ui-1_zoom-bold {
        background: aliceblue;
        padding-left: 10px;
        cursor: pointer;
    }

    .hooper-slide {
        // background-color: #62caaa;
        // background-color: #62caaa12;
        padding: 20px;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        color: #fff;
        border: 2px solid #fff;
        font-size: 30px;
        border-radius: 20px;
    }

    .skeleton-card {
        margin:20px 63px 20px 0px !important;
        width:100% !important;
        border-radius: 10px !important;
    }

    /********************* Shopping Demo-5 **********************/
    .product-image5 .pic-1,
    .product-image5 .pic-2 {
      backface-visibility: hidden;
      transition: all .5s ease 0s
    }

    .product-grid5 {
      font-family: Poppins, sans-serif;
      position: relative
    }

    .product-grid5 .product-image5 {
      overflow: hidden;
      position: relative
    }

    .product-grid5 .product-image5 a {
      display: block
    }

    .product-grid5 .product-image5 img {
      width: 100%;
      height: auto
    }

    .product-image5 .pic-1 {
      opacity: 1
    }

    .product-grid5:hover .product-image5 .pic-1 {
      opacity: 0
    }

    .product-image5 .pic-2 {
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0
    }

    .product-grid5:hover .product-image5 .pic-2 {
      opacity: 1
    }

    .product-grid5 .social {
      padding: 0;
      margin: 0;
      position: absolute;
      top: 10px;
      right: 10px
    }

    .product-grid5 .social li {
      display: block;
      margin: 0 0 10px;
      transition: all .5s
    }

    .product-grid5 .social li:nth-child(2) {
      opacity: 0;
      transform: translateY(-50px)
    }

    .product-grid5:hover .social li:nth-child(2) {
      opacity: 1;
      transform: translateY(0)
    }

    .product-grid5 .social li:nth-child(3) {
      opacity: 0;
      transform: translateY(-50px)
    }

    .product-grid5:hover .social li:nth-child(3) {
      opacity: 1;
      transform: translateY(0);
      transition-delay: .2s
    }

    .product-grid5 .social li a {
      color: #888;
      background: #fff;
      font-size: 14px;
      text-align: center;
      line-height: 40px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: block;
      transition: .5s ease 0s
    }

    .product-grid5 .social li a:hover {
      color: #fff;
      background: #1e3799
    }

    .product-grid5 .select-options {
      color: #777;
      background-color: #fff;
      font-size: 13px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      padding: 15px 5px;
      margin: 0 auto;
      opacity: 0;
      display: block;
      position: absolute;
      width: 92%;
      left: 0;
      bottom: -100px;
      right: 0;
      transition: .5s ease 0s
    }

    .product-grid5 .select-options:hover {
      color: #fff;
      background-color: #1e3799;
      text-decoration: none
    }

    .product-grid5:hover .select-options {
      opacity: 1;
      bottom: 10px
    }

    .product-grid5 .product-content {
      padding: 20px 10px
    }

    .product-grid5 .title {
      font-size: 15px;
      font-weight: 600;
      text-transform: capitalize;
      margin: 0 0 10px;
      transition: all .3s ease 0s
    }

    .product-grid5 .title a {
      color: #222
    }

    .product-grid5 .title a:hover {
      color: #1e3799
    }

    .product-grid5 .price {
      color: #222;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 1px
    }

    .product {
    //     box-shadow: 1px 1px 1px 2px #e3e1e1;
    //     border-radius: 10px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    @media only screen and (max-width:990px) {
      .product-grid5 {
        margin-bottom: 30px
      }
    }

    /********************* shopping Demo-1 **********************/
    .product-grid {
      border-radius: 10px;
    //   font-family: Raleway, sans-serif;
      text-align: center;
      padding: 0 0 0px;
      // border: 2px solid rgba(0, 0, 0, .1);
      box-shadow: 1px 1px 5px 0px #cecece;
      overflow: hidden;
      position: relative;
      z-index: 1;
      margin-bottom:40px;
    }

    .modal-content .modal-header button{
      top: 5px !important;
    }

    .product-grid .product-image {
      position: relative;
      transition: all .3s ease 0s
    }

    .product-grid .product-image a {
      display: block
    }

    .product-grid .product-image img {
      width: 100%;
      height: auto
    }

    .product-grid .pic-1 {
      opacity: 1;
      transition: all .3s ease-out 0s
    }

    .product-grid:hover .pic-1 {
      opacity: 1
    }

    .product-grid .pic-2 {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .3s ease-out 0s
    }

    .product-grid:hover .pic-2 {
      opacity: 1
    }

    .product-grid .social {
      width: 150px;
      padding: 0;
      margin: 0;
      list-style: none;
      opacity: 0;
      transform: translateY(-50%) translateX(-50%);
      position: absolute;
      top: 30%;
      left: 50%;
      z-index: 1;
      transition: all .3s ease 0s
    }

    .product-grid:hover .social {
      opacity: 1;
      top: 35%
    }

    .product-grid .social li {
      display: inline-block
    }

    .product-grid .social li a {
      color: #fff;
      background-color: #333;
      font-size: 16px;
      line-height: 40px;
      text-align: center;
      height: 40px;
      width: 40px;
      margin: 0 2px;
      display: block;
      position: relative;
      transition: all .3s ease-in-out;
      border-radius: 10px;
    }

    .product-grid .social li a:hover {
      color: #fff;
      background-color: #5fc6a6
    }

    .product-grid .social li a:after,
    .product-grid .social li a:before {
      content: attr(data-tip);
      color: #fff;
      background-color: #000;
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 20px;
      padding: 1px 5px;
      white-space: nowrap;
      opacity: 0;
      transform: translateX(-50%);
      position: absolute;
      left: 50%;
      top: -30px
    }

    .product-grid .social li a:after {
      content: '';
      height: 15px;
      width: 15px;
      border-radius: 0;
      transform: translateX(-50%) rotate(45deg);
      top: -20px;
      z-index: -1
    }

    .product-grid .social li a:hover:after,
    .product-grid .social li a:hover:before {
      opacity: 1
    }

    .product-grid .product-discount-label,
    .product-grid .product-new-label {
      color: #fff;
      background-color: #5fc6a6;
      font-size: 12px;
      text-transform: uppercase;
      padding: 2px 7px;
      display: block;
      position: absolute;
      top: 10px;
      left: 0
    }

    .product-grid .product-discount-label {
      background-color: #333;
      left: auto;
      right: 0
    }

    .product-grid .rating {
      color: #FFD200;
      font-size: 12px;
      padding: 12px 0 0;
      margin: 0;
      list-style: none;
      position: relative;
      z-index: -1;
      margin-bottom: 20px;
    }

    .product-grid .rating li.disable {
      color: rgba(0, 0, 0, .2)
    }

    .product-grid .product-content {
      background-color: #fff;
      text-align: center;
      padding: 10px 0;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -25px !important;
      z-index: 1;
      transition: all .3s
    }

    .product-grid:hover .product-content {
      bottom: 0
    }

    .title {
      font-weight: 700;
      padding-top: 0px;
    }

    .product-grid .title {
      font-size: 13px;
      font-weight: 400;
      letter-spacing: .5px;
      text-transform: capitalize;
      margin: 0 0 0px;
      transition: all .3s ease 0s
    }

    .product-grid .title a {
      color: #828282;
      font-size: 16px;
      font-weight: 500;
    }

    .product-grid .title a:hover,
    .product-grid:hover .title a {
      color: #5fc6a6
    }

    .product-grid .price {
      color: #333;
      font-size: 17px;
      font-family: Montserrat, sans-serif;
      font-weight: 700;
      letter-spacing: .6px;
      margin-bottom: 8px;
      text-align: center;
      transition: all .3s
    }

    .product-grid .price span {
      color: #999;
      font-size: 13px;
      font-weight: 400;
      text-decoration: line-through;
      margin-left: 3px;
      display: inline-block
    }

    .product-grid .add-to-cart {
      color: #000;
      font-size: 13px;
      font-weight: 600
    }

    @media only screen and (max-width:990px) {
      .product-grid {
        margin-bottom: 30px
      }
    }

    .breadcrumb {
        margin-top: 150px;
    }

    .hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    }

    .darken-grey-text {
    color: #2E2E2E;
    }

    .bc-icons .breadcrumb-item+.breadcrumb-item::before {
    content: none;
    }

    .bc-icons .breadcrumb-item.active {
    color: #eeeeee;
    }

    .bc-icons-2 .breadcrumb-item+.breadcrumb-item::before {
    content: none;
    }

    .bc-icons-2 .breadcrumb-item.active {
    color: #455a64;
    }


    .light-font .breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
    }

    .light-font .breadcrumb-item.active {
    color: #cfd8dc;
    }

    .dark-font .breadcrumb-item+.breadcrumb-item::before {
    color: #000;
    }

    .dark-font .breadcrumb-item.active {
    color: #455a64;
    }

    /* Style the tab */
    .tab {
      overflow: hidden;
      border-bottom: 1px solid #ccc;
      // background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      color: #5fc6a6;
    }

    /* Create an active/current tablink class */
    .tab button.active {
      color: #5fc6a6;
    }

    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      -webkit-animation: fadeEffect 1s;
      animation: fadeEffect 1s;
    }

    /* Fade in tabs */
    @-webkit-keyframes fadeEffect {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes fadeEffect {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .product-gallery {
      display: flex;
      flex-direction: row;
      // border-bottom: 1px solid rgba(0, 0, 0, .125);
    }

    a,input {
      outline: none;
    }

    .ulasan-rate {
      font-size:18px;
      line-height: 0em;
      font-weight: 600;
    }

    .product-gallery-featured {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      padding: 0px 0;
      cursor: zoom-in;
    }

    .product-gallery-thumbnails .thumbnails-list li {
      margin-bottom: 5px;
      cursor: pointer;
      position: relative;
      width: 70px;
      height: 70px;
    }

    .thumbnails-list li img {
      display: block;
      width: 100%;
    }

    .product-gallery-thumbnails .thumbnails-list li:hover::before {
      content: "";
      width: 3px;
      height: 100%;
      background: #007bff;
      position: absolute;
      top: 0;
      left: 0;
    }
    .zoom {
      // padding: 50px;
      // background-color: green;
      transition: transform .2s;
      width: 300px;
      height: 300px;
      margin: 0 auto;
    }

    .zoom:hover {
      -ms-transform: scale(1.5);
      /* IE 9 */
      -webkit-transform: scale(1.5);
      /* Safari 3-8 */
      transform: scale(1.5);
    }

    .img-hover-zoom {
      height: 400px;
      /* [1.1] Set it as per your need */
      overflow: hidden;
      /* [1.2] Hide the overflowing of child elements */
    }

    /* [2] Transition property for smooth transformation of images */
    .img-hover-zoom img {
      transition: transform .5s ease;
    }

    /* [3] Finally, transforming the image when container gets hovered */
    .img-hover-zoom:hover img {
      transform: scale(1.5);
    }

    .progress {
      height: 20px;
      margin-bottom: 20px;
      overflow: hidden;
      background-color: #f5f5f5;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .progress {
      background-image: -webkit-gradient(linear, left 0, left 100%, from(#ebebeb), to(#f5f5f5));
      background-image: -webkit-linear-gradient(top, #ebebeb 0, #f5f5f5 100%);
      background-image: -moz-linear-gradient(top, #ebebeb 0, #f5f5f5 100%);
      background-image: linear-gradient(to bottom, #ebebeb 0, #f5f5f5 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
    }

    .progress {
        display: inline-flex;
        height: 7px;
        background-color: #ebeef1;
        background-image: none;
        box-shadow: none;
        width: 25%;
    }

    .progress-bar {
      float: left;
      width: 0;
      height: 100%;
      font-size: 12px;
      line-height: 20px;
      color: #fff;
      text-align: center;
      background-color: #428bca;
      -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
      -webkit-transition: width .6s ease;
      transition: width .6s ease;
    }

    .progress-bar {
      background-image: -webkit-gradient(linear, left 0, left 100%, from(#428bca), to(#3071a9));
      background-image: -webkit-linear-gradient(top, #428bca 0, #3071a9 100%);
      background-image: -moz-linear-gradient(top, #428bca 0, #3071a9 100%);
      background-image: linear-gradient(to bottom, #428bca 0, #3071a9 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
    }

    .progress-bar {
      box-shadow: none;
      border-radius: 3px;
      background-color: #0090D9;
      background-image: none;
      -webkit-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
      -moz-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
      -ms-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
      -o-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
      transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
      -webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
      -moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
      -ms-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
      -o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
      transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
    }

    .progress-bar-success {
      background-image: -webkit-gradient(linear, left 0, left 100%, from(#62c9a9), to(#449d44));
      background-image: -webkit-linear-gradient(top, #62c9a9 0, #449d44 100%);
      background-image: -moz-linear-gradient(top, #62c9a9 0, #449d44 100%);
      background-image: linear-gradient(to bottom, #62c9a9 0, #449d44 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
    }

    .progress-bar-success {
      background-color: #0AA699;
      background-image: none;
    }

    .progress-bar-info {
      background-image: -webkit-gradient(linear, left 0, left 100%, from(#5bc0de), to(#31b0d5));
      background-image: -webkit-linear-gradient(top, #5bc0de 0, #31b0d5 100%);
      background-image: -moz-linear-gradient(top, #5bc0de 0, #31b0d5 100%);
      background-image: linear-gradient(to bottom, #5bc0de 0, #31b0d5 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
    }

    .progress-bar-info {
      background-color: #0090D9;
      background-image: none;
    }

    .progress-bar-warning {
      background-image: -webkit-gradient(linear, left 0, left 100%, from(#f0ad4e), to(#ec971f));
      background-image: -webkit-linear-gradient(top, #f0ad4e 0, #ec971f 100%);
      background-image: -moz-linear-gradient(top, #f0ad4e 0, #ec971f 100%);
      background-image: linear-gradient(to bottom, #f0ad4e 0, #ec971f 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
    }

    .progress-bar-warning {
      background-color: #FDD01C;
      background-image: none;
    }

    .progress-bar-danger {
      background-image: -webkit-gradient(linear, left 0, left 100%, from(#d9534f), to(#c9302c));
      background-image: -webkit-linear-gradient(top, #d9534f 0, #c9302c 100%);
      background-image: -moz-linear-gradient(top, #d9534f 0, #c9302c 100%);
      background-image: linear-gradient(to bottom, #d9534f 0, #c9302c 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
    }

    .progress-bar-danger {
      background-color: #F35958;
      background-image: none;
    }

    .title-ulasan {
      line-height: inherit;
      margin-bottom: 0px
    }

    .judul-ulasan {
      line-height: inherit;
      margin-bottom: 60px
    }

    .modal-dialog {
      width: 100% !important;
      height: 100%;
      margin: 0;
      padding: 0;
      max-width:unset !important;
      // overflow-y: auto;
    }

    .modal-open .modal {
      overflow-x: hidden;
      overflow-y: hidden;
    }

    .label-pengiriman {
      overflow-y: auto !important;
    }

    .label-pengiriman-modal {
      top:-201px;
    }

    .modal-header {
      padding-top: 0px !important;
    }

    .modal-body {
      padding-top: 0px !important;
    }

    .item-header {
      padding: 15px 0px;
      border-bottom:1px solid #ccc;
      line-height: 0em;
    }

    .item-body {
      height: 450px;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .data {
      margin-right: 0px !important;
      margin-left: 0px !important;
    }

    .catatan {
      font-size:12px;
      line-height: 1em;
      font-weight: 600;
    }

    .categories {
      box-shadow: 1px 1px 5px #cecece;
      text-align: center;
      // border: 1px solid #cecece;
      border-radius: 15px;
      background: #fff;
      padding: 20px;
      cursor: pointer;
    }

    .keranjang-div {
      box-shadow: 1px 1px 5px #cecece;
      border-radius: 10px;
      margin: 10px;
    }

    .checkout-div {
      box-shadow: 1px 1px 5px #cecece;
      border-radius: 10px;
      margin: 10px;
    }

    .large-cat {
      min-width: 47.666667% !important;
    }

    .img-cat{
      width:120px;
    }

    .item-body-keranjang {
      // height: 100%;
      // overflow-y: auto;
      // overflow-x: hidden;
    }

    .img-produk {
      background-size:cover;
      background-repeat: no-repeat;
      background-position: center center; 
    }

    .checkbox-produk {
      font-size: 12px;
      width: 25px;
    }

    .el-tooltip__popper.is-dark {
      background-color: #e0dbdb !important;
    }

    .modal-content {
      height: auto;
      min-height: 100%;
      border-radius: 0;
    }

    .modal-xxl {
      width:100% !important;
    }

    .chat {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .chat li {
      margin-bottom: 10px;
      padding-bottom: 5px;
      border-bottom: 1px dotted #B3A9A9;
    }

    .chat li.left .chat-body {
      margin-left: 60px;
    }

    .chat li.right .chat-body {
      margin-right: 60px;
    }

    .chat li .chat-body p {
      margin: 0;
      color: #777777;
    }

    .table-striped tbody tr:nth-of-type(odd) {
      background-color: #f0f8fe;
    }

    .nama-produk {
      line-height: 3em;
      font-weight: 600;
      margin-bottom: -15px;
    }

    .qty-produk {
      // line-height: 3em;
      font-weight: 600;
      margin-bottom: -15px;
    }

    .total-produk {
      display:grid;
      // line-height: 3em;
      font-weight: 600;
      margin-bottom: -15px;
    }

    .pengiriman {
      line-height: 1.5em;
    }

    .alamat-pengiriman {
      // border-bottom:1px solid #ccc;
    }

    .text-deskripsi {
      max-width: 250px;
    }

    .subtotal {
      height: 75px;
      margin-top: auto;
      line-height: 2.5em;
      font-size: 16px;
    }

    .collections {
      margin: auto;
    }

    .header-transaction {
      width: 100%;
      // border: 1px solid #ccc;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 1px 1px 5px #cecece;
      // display: contents;
      // background: aliceblue;
    }

    .vdp-datepicker * {
      /* box-sizing: border-box; */
      box-shadow: 1px 1px 5px #cecece;
      border-radius: 10px;
      width: 100%;
      border: none;
      height: 30px;
    }
    .img-raised {
      width:145px;
    }

    .tgl-belanja {
      font-size: 12px;
      // font-weight: 600;
    }

    .belanja {
      font-size: 14px;
      font-weight: 600;

    }

    .icon-belanja {
      font-size: 25px;
      // font-weight: 600;
    }

    .track {
      background: #62c9a9;
      padding: 20px 20px;
      font-size: 40px;
      color: #fff;
      border-radius: 20px;
      text-align: center;
      max-width: 15%;
    }

    .label-track {
      font-size: 16px;
      font-weight: 600;
      text-align: center;
    }

    .track_tbl td.track_dot {
      width: 50px;
      position: relative;
      padding: 0;
      text-align: center;
    }

    .track_tbl td.track_dot:after {
      position: absolute;
      content: "\A";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #212020;
      display: inline-block;
      margin-top: 20px;
      margin-left: -3px;
    }

    .track_tbl td.track_dot span.track_line {
      background: #000;
      width: 3px;
      min-height: 50px;
      position: absolute;
      height: 101%;
    }

    .track_tbl tbody tr:first-child td.track_dot span.track_line {
      top: 30px;
      min-height: 25px;
    }

    .track_tbl tbody tr:last-child td.track_dot span.track_line {
      top: 0;
      min-height: 25px;
      height: 10%;
    }

    // .container {
    //   max-width: 1170px;
    //   margin: auto;
    // }

    img {
      max-width: 100%;
    }

    .inbox_people {
      background: #f8f8f8 none repeat scroll 0 0;
      float: left;
      overflow: hidden;
      width: 40%;
      border-right: 1px solid #cecece;
    }

    .inbox_msg {
      box-shadow: 1px 1px 5px #cecece;
      border-radius: 10px;
      // border: 1px solid #cecece;
      clear: both;
      overflow: hidden;
    }

    .top_spac {
      margin: 20px 0 0;
    }


    .recent_heading {
      float: left;
      width: 40%;
    }

    .srch_bar {
      display: inline-block;
      text-align: right;
      width: 60%;
      // padding:
    }

    .br-breadcrumb{
      margin-top: 130px;
      box-shadow: 1px 1px 5px #cecece;
      border-radius: 10px;
      padding: 10px;
    }
    
    .img-profil{
      padding: 20px;
      border-radius: 100%;
    }

    .pengaturan{
      box-shadow: 1px 1px 5px #cecece;
      border-radius: 10px; 
    }

    .dropdown.show .dropdown-menu,
    .dropdown-menu.open{
      border-radius: 10px;
    }

    .separator{
      border-bottom: 1px solid #cecece;
    }

    .trash {
      margin-top:-10px;
    }

    .headind_srch {
      padding: 10px 29px 10px 20px;
      overflow: hidden;
      border-bottom: 1px solid #cecece;
      background: #fff;

    }

    .recent_heading h4 {
      color: #67cdb0;
      font-size: 21px;
      margin: auto;
    }

    .srch_bar input {
      border: 1px solid #cecece;
      border-width: 0 0 1px 0;
      width: 80%;
      padding: 2px 0 4px 6px;
      background: none;
    }

    .srch_bar .input-group-addon button {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: medium none;
      padding: 0;
      color: #707070;
      font-size: 18px;
    }

    .srch_bar .input-group-addon {
      margin: 0 0 0 -27px;
    }

    .chat_ib h5 {
      font-size: 15px;
      color: #464646;
      margin: 0 0 8px 0;
    }

    .chat_ib h5 span {
      font-size: 13px;
      float: right;
    }

    .chat_ib p {
      font-size: 14px;
      color: #989898;
      margin: auto
    }

    .chat_img {
      float: left;
      width: 11%;
    }

    .chat_ib {
      float: left;
      padding: 0 0 0 15px;
      width: 88%;
    }

    .chat_people {
      overflow: hidden;
      clear: both;
    }

    .chat_list {
      border-bottom: 1px solid #cecece;
      margin: 0;
      padding: 18px 16px 10px;
      background: #fff;
    }

    .inbox_chat {
      height: 550px;
      overflow-y: scroll;
    }

    .active_chat {
      background: #ebebeb;
    }

    .incoming_msg_img {
      display: inline-block;
      width: 6%;
    }

    .received_msg {
      display: inline-block;
      padding: 0 0 0 10px;
      vertical-align: top;
      width: 92%;
    }

    .received_withd_msg p {
      background: #ebebeb none repeat scroll 0 0;
      border-radius: 3px;
      color: #646464;
      font-size: 14px;
      margin: 0;
      padding: 5px 10px 5px 12px;
      width: 100%;
    }

    .time_date {
      color: #747474;
      display: block;
      font-size: 12px;
      margin: 8px 0 0;
    }

    .received_withd_msg {
      width: 57%;
    }

    .mesgs {
      float: left;
      padding: 30px 15px 0 25px;
      width: 60%;
    }

    .sent_msg p {
      background: #7ed7c0 none repeat scroll 0 0;
      border-radius: 3px;
      font-size: 14px;
      margin: 0;
      color: #fff;
      padding: 5px 10px 5px 12px;
      width: 100%;
    }

    .outgoing_msg {
      overflow: hidden;
      margin: 26px 0 26px;
    }

    .sent_msg {
      float: right;
      width: 46%;
    }

    .input_msg_write input {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: medium none;
      color: #4c4c4c;
      font-size: 15px;
      min-height: 48px;
      width: 100%;
    }

    .type_msg {
      border-top: 1px solid #cecece;
      position: relative;
    }

    .msg_send_btn {
      background: #7ed7c0 none repeat scroll 0 0;
      border: medium none;
      border-radius: 50%;
      color: #fff;
      cursor: pointer;
      font-size: 17px;
      height: 33px;
      position: absolute;
      right: 0;
      top: 11px;
      width: 33px;
    }

    .product-new-label{
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .product-discount-label{
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .messaging {
      padding: 0 0 50px 0;
    }

    .msg_history {
      height: 516px;
      overflow-y: auto;
    }

    .checkout {
      margin:10px;
      height: 120px;
    }

    /*!
 * bootstrap-vertical-tabs - v1.1.0
 * https://dbtek.github.io/bootstrap-vertical-tabs
 * 2014-06-06
 * Copyright (c) 2014 Ä°smail Demirbilek
 * License: MIT
 */
    .tabs-left,
    .tabs-right {
      border-bottom: none;
      padding-top: 2px;
    }

    .tabs-left {
      border-right: 1px solid #ddd;
    }

    .tabs-right {
      border-left: 1px solid #ddd;
    }

    .tabs-left>li,
    .tabs-right>li {
      float: none;
      margin-bottom: 2px;
    }

    .tabs-left>li {
      margin-right: -1px;
    }

    .tabs-right>li {
      margin-left: -1px;
    }

    .tabs-left>li.active>a,
    .tabs-left>li.active>a:hover,
    .tabs-left>li.active>a:focus {
      border-bottom-color: #ddd;
      border-right-color: transparent;
    }

    .tabs-right>li.active>a,
    .tabs-right>li.active>a:hover,
    .tabs-right>li.active>a:focus {
      border-bottom: 1px solid #ddd;
      border-left-color: transparent;
    }

    .tabs-left>li>a {
      border-radius: 4px 0 0 4px;
      margin-right: 0;
      display: block;
    }

    .tabs-right>li>a {
      border-radius: 0 4px 4px 0;
      margin-right: 0;
    }

    .vertical-text {
      margin-top: 50px;
      border: none;
      position: relative;
    }

    .vertical-text>li {
      height: 20px;
      width: 120px;
      margin-bottom: 100px;
    }

    .vertical-text>li>a {
      border-bottom: 1px solid #ddd;
      border-right-color: transparent;
      text-align: center;
      border-radius: 4px 4px 0px 0px;
    }

    .vertical-text>li.active>a,
    .vertical-text>li.active>a:hover,
    .vertical-text>li.active>a:focus {
      border-bottom-color: transparent;
      border-right-color: #ddd;
      border-left-color: #ddd;
    }

    .vertical-text.tabs-left {
      left: -50px;
    }

    .vertical-text.tabs-right {
      right: -50px;
    }

    .vertical-text.tabs-right>li {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    .vertical-text.tabs-left>li {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }

    .produk-perkategori{
      margin-top:-40px !important;
    }

    .sidemenu{
      height: max-content;
      box-shadow: 1px 1px 5px #cecece;
      border-radius: 10px;
      margin-right: 15px;
      max-width: 32%;
      padding: 10px;
      margin-top: -50px;
    }

    .filter{
      padding-left: 0px;
    }

    .daterangepicker .calendar-table td,
    .daterangepicker .calendar-table th{
      z-index: 99;
    }

    .vue-daterange-picker .dropdown-menu[data-v-2359713c] {
      padding: 0;
      left: 330px;
    }

    .vue-daterange-picker[data-v-2359713c] {
      width: 100%;
    }


}


